{% extends "blog/base.html"%}

{% block content %}
  <div class="" id="content4">
    <div class="content-section">
      <h2 > Mediamarkt Review Form</h2>

      <div class="main3">
          <br>
          Please, select the respective <b>"Country"</b>, <b>"City"</b>,<b>"Store"</b> and <b>Submit</b> your review.
          <br>
        </p>
      </div>

      <form method="post" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <br> <br>
        <button class="mainbutton2" type="submit">Submit</button>
        <button class="mainbutton2" type="reset" value="Reset">Reset</button>
        <br> <br>
      </form>
          <br>
          <div class="main2">
            <b class="">Just want to see the reviews?</b>
          </div>
          <br>
      <form action="/list" method="get" target="_blank">
        <button class="mainbutton3" type="">Rewiews List</button>
     </form>
    

      <script>
        $("#id_country").change(function () {
          var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
          var countryId = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: '{% url 'ajax_load_cities' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'country': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
        // this one is for fetching vanue data
        $("#id_city").change(function () { //django-model-form created this id
          var url = $("#personForm").attr("data-stores-url");  // get the url of the `load_cities` view
          var cityId = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: '{% url 'ajax_load_stores' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/) person_form.html template has this url var
            data: {
              'city': cityId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_store").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
      </script>
    </div>
  </div>

{% endblock %}
